#define WIFI_HOSTNAME "DNS HOSTNAME HERE"
#define WIFI_SSID "WIFI SSID HERE"
#define WIFI_PASSWORD "WIFI PASSWORD HERE"
#define MQTT_SERVER "DNS OR IP-ADDRESS OF MQTT SERVER HERE"
#define MQTT_PORT "ENCRYPTED PORT 8883 OR UNENCRYPTED 1883 HERE"
#define MQTT_USERNAME "MQTT USERNAME HERE"
#define MQTT_PASSWORD "MQTT PASSWORD HERE"
#define MQTT_ID "MQTT IDENTIFIER HERE"